<div class="main-div">

    <div class="first-part">
        <div align="left">
            <h6>Subcriber ID: 101</h6><br>
            <h6>Subscriber Name: Mayur Dhameliya</h6>
            <div align="right">
                <button class="btn" [routerLink]="['/customer-registration']">Update Profile</button>
            </div>
        </div>
    </div>

    <div class="second-part">
        <div>
            <h4>Subscribed Plans list:</h4>
        </div>

        <div style="display: inline-block; margin-top: 10px;" *ngFor="let plan of plans; let i = index">
            <div *ngIf="i < 2" class="inline-style-plan">
                <div>
                    <span>
                        <h6>{{plan.planName}}</h6>
                        <img style="width: 100px; height: 35px" src="../../assets/Dish_TV.png" alt="Dish TV Logo">
                        <h6>Price : ₹{{plan.planPrice}}*</h6>
                        <h6>{{plan.channelsCount}} Channels</h6>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="third-part">
        <div>
            <h4>Extra Subscribed Channels List:</h4>
            <div style="display: inline-block; margin-top: 10px;">
                <div>
                    <div class="inline-style-channel">
                        <span>
                            <h6>CNBC TV18</h6>
                            <img style="width: 50px; height: 50px;" src="../../assets/CNBC_TV18.jpg" alt="CNBC TV Logo">
                        </span>
                    </div>
                    <div class="inline-style-channel">
                        <span>
                            <h6>Disney XD</h6>
                            <img style="width: 50px; height: 50px" src="../../assets/Disney_XD.jpg" alt="CNBC TV Logo">
                        </span>
                    </div>
                    <div class="inline-style-channel">
                        <span>
                            <h6>Univision</h6>
                            <img style="width: 50px; height: 50px;" src="../../assets/Univision.png" alt="CNBC TV Logo">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>