<div class="main-div">
    
    <div class="first-part">
        <div align="left">
            <h4>Subcriber ID: 101</h4>
            <h4>Subscriber Name: Mayur Dhameliya</h4>
        </div>
        <!-- <div align="right">
            <button class="btn btn-primary" (click)="openList()">Edit</button>
        </div> -->
    </div>

    <div class="second-part">
        <div>
            <h4>Subscribed Plans list:</h4>
        </div>

        <div style="display: inline-block; margin-top: 10px;" *ngFor="let plan of plans; let i = index">
            <div *ngIf="i < 2" class="inline-style-plan">
                <div>
                    <span>
                        <h4>{{plan.planName}}</h4>
                        <img style="width: 100px; height: 35px" src="../../assets/Dish_TV.png" alt="Dish TV Logo">
                        <h5>Price : {{plan.planPrice}}*</h5>
                        <h5>{{plan.channelsCount}} Channels</h5>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="third-part">
        <div>
            <h4>Extra Subscribed Channels List:</h4>
            <div style="display: inline-block; margin-top: 10px;">
                <div>
                    <div class="inline-style-channel">
                        <span>
                            <h4>CNBC TV18</h4>
                            <img style="width: 50px; height: 50px;" src="../../assets/CNBC_TV18.jpg" alt="CNBC TV Logo">
                        </span>
                    </div>
                    <div class="inline-style-channel">
                        <span>
                            <h4>Disney XD</h4>
                            <img style="width: 50px; height: 50px" src="../../assets/Disney_XD.jpg" alt="CNBC TV Logo">
                        </span>
                    </div>
                    <div class="inline-style-channel">
                        <span>
                            <h4>Univision</h4>
                            <img style="width: 50px; height: 50px;" src="../../assets/Univision.png" alt="CNBC TV Logo">
                        </span>
                    </div>
                </div>

            </div>
            <!-- <table>
                <thead>
                    <tr>
                        <th>Channel ID</th>
                        <th>Channel Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11</td>
                        <td>CNBC TV18</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Univision</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>AL Jazeera</td>
                    </tr>
                </tbody>
            </table> -->
        </div>
    </div>
</div>