.main-div {
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
    padding: 4px;
}

.first-part {
    margin-bottom: 12px;
    padding: 10px;
    background-color: #f0f0f0;
    background-clip: border-box;
    background-origin: padding-box;
    border-style: ridge;
}

.second-part {
    padding: 10px;
    margin-bottom: 12px;
    background-color: #c9c9c9;
    border-style: ridge;
    background-clip: border-box;
    background-origin: padding-box;
}
.inline-style-plan {
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    width: 200px;
    // height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dd470ce0;
    border-style: groove;
    border-radius: 20px;
}

.inline-style-channel {
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    width: 170px;
    // height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dd470ce0;
    border-style: groove;
    border-radius: 20px;
}

.third-part {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 12px;
    border-style: ridge;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px;
    width: 50%;
}
tr {
    border: 1px solid black;
    border-collapse: collapse;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4caf50;
    color: white;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 4px;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}
a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
}

.grid {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-area: initial;
}

.module {
    padding: 30px;
    text-align: center;
    color: #eee;
    height: 120px;
    width: 120px;
    background-color: #4caf50;
    border-radius: 1px;
    margin: 10px;
}

button1 {
    position: relative;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: red;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

button1:hover {
    background-color: #337414;
    color: white;
}
button {
    color: #fff;
    background-color: #363c3f;
}
button:hover, button:focus, button:active, button.active {
    color: #fff;
    background-color: #dd470ce0;
}

.orange-font {
    color: #dd470ce0
}