<div class="main-div">
    <div>
        <img src="https://www.dishtv.in/images/logo.png" alt="Dish TV Logo">
    </div>
    <div class="first-part">
        <p>Subcriber ID: 101</p>
        <p>Subscriber Name: Mayur Dhameliya</p>
        <button (click)="openList()">Edit</button>
    </div>

    <div class="second-part">
        <div>
            <h5>Subscribed Plans list:</h5>
        </div>

        <div class="grid">
                <div class="module">
                    <h6>Hindi Basic</h6>
                </div>
                <div class="module">
                    <h6>Jumbo Family</h6>
                </div>
        </div>

    </div>

    <div class="third-part">
        <div>
            <h5>Extra Subscribed Channels List:</h5>
            <table>
                <thead>
                    <tr>
                        <th>Channel ID</th>
                        <th>Channel Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11</td>
                        <td>CNBC TV18</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Univision</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>AL Jazeera</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>