<div class="main-div">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-body">
            <label>Enter VC No.* :</label>
            <div>
                <input class="input-box" type="text" formControlName="vcNumber">
            </div>
            <div *ngIf="f.vcNumber.invalid && (f.vcNumber.dirty || f.vcNumber.touched)" class="alert-danger input-box">
                <div *ngIf="f.vcNumber.errors.required">
                    VC number is required.
                </div>
                <div *ngIf="f.vcNumber.errors.minlength || f.vcNumber.errors.maxlength">
                    VC number must be 12 character long.
                </div>
            </div>
        </div>
        <div class="form-body">
            <label>Mobile Number* :</label>
            <div>
                <input class="input-box" type="text" formControlName="mobileNumber">
            </div>
            <div *ngIf="f.mobileNumber.invalid && (f.mobileNumber.dirty || f.mobileNumber.touched)"
                class="alert-danger input-box">
                <div *ngIf="f.mobileNumber.errors.required">
                    Mobile Number is required.
                </div>
                <div *ngIf="f.mobileNumber.errors.pattern">
                    Please, Enter 10 digit Mobile Number.
                </div>
            </div>
        </div>
        <div class="form-body">
            <label>Enter OTP* :</label>
            <div>
                <input class="input-box" type="text" formControlName="otp">
            </div>
            <div *ngIf="f.otp.invalid && (f.otp.dirty || f.otp.touched)"
                class="alert-danger input-box">
                <div *ngIf="f.otp.errors.required">
                    OTP is required.
                </div>
            </div>
        </div>

        <div class="form-body">
            <a>Forget Password?</a>
        </div>
        <div class="form-body">
            <button [routerLink]="['/subscribed-list']" class="btn" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
        <div class="form-body">
            <label>New User?
                <a [routerLink]="['/customer-registration']">Register Now</a>
            </label>

        </div>

    </form>
</div>