.main-div {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 4px;
    padding: 4px;
}

button {
    color: #fff;
    background-color: #363c3f;
}
button:hover, button:focus, button:active, button.active {
    color: #fff;
    background-color: #dd470ce0;
}
.form-body {
    margin-left: 20px;
    margin-bottom: 15px;
}

.input-box {
    margin-left: 0px;
    width: 40%;
}