<div>
    <div>
        <img src="../../assets/contact-us-banner.jpg" alt="Contact Info">
    </div>
    <div class="main-div">

        <div style="display: flex;">
            <dth-contact-us></dth-contact-us>

            <div class="right-block">
                <div>
                    <div>
                        <h6 style="color: #464646;">Get in touch with us via:</h6>
                    </div>
                    <table>
                        <tr>
                            <td>Call</td>
                            <td class="orange-font">95017-95017 <div
                                    style="color: #464646; font-weight: normal; font-size: small;">(Local call charges
                                    apply)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>SMS</td>
                            <td>SMS <span style="font-weight: bold; font-size: 16px;">CALL ME to 57575 </span> from your
                                Registered Mobile Number and we will call you back.</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a>click here</a></td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Dish TV India Ltd. FC - 19, Sector 16A, Film City,
                                Noida, Uttar Pradesh,India. Pin code-201301
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-weight: normal;">For any Corporate/Business Enquiries please
                                send us
                                an
                                email on
                                <a class="orange-font">dishtvcorporate@dishtv.in</a> <br>
                                You can also reach us on our toll free number <span
                                    class="orange-font">1800-258-3474</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>