<div class="main-div">
    <!-- <button class="btn-dialog-close" mat-stroked-button (click)="onClose()">
        <mat-icon>clear</mat-icon>
    </button> -->
    <button style="float:right; font-size:24px" (click)="onClose()"><i class="fa fa-close"></i></button>
    <div class="channel-category">
        <div align="center">
            <h6>DEVOTIONAL</h6>
            This category contains <span style="font-weight: bold;">15 Devotional</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/aastha.png" alt="">
                <div>Aastha</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/arihant-tv.png" alt="">
                <div>Arihant TV</div>
            </div>
        </div>
    </div>
    <hr>

    <div class="channel-category">
        <div align="center">
            <h6>GENERAL ENTERTAINMENT</h6>
            This category contains <span style="font-weight: bold;">15 General Entertainment</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/colors-rishtey.png" alt="">
                <div>Colors Rishtey</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/dd-national.png" alt="">
                <div>DD National</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/zee-anmol.png" alt="">
                <div>Zee Anmol</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="channel-category">
        <div align="center">
            <h6>INFOTAINMENT</h6>
            This category contains <span style="font-weight: bold;">15 Infotainment</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/dd-kisan.png" alt="">
                <div>DD Kisan</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/history-tv-18.png" alt="">
                <div>History TV 18</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/discovery.png" alt="">
                <div>Discovery</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="channel-category">
        <div align="center">
            <h6>KIDS</h6>
            This category contains <span style="font-weight: bold;">15 Kids</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/cartoon-network.png" alt="">
                <div>Cartoon Network</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/pogo.png" alt="">
                <div>Pogo</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="channel-category">
        <div align="center">
            <h6>LIFESTYLE & FASHION</h6>
            This category contains <span style="font-weight: bold;">15 Lifestyle & Fashion</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/living-foodz.png" alt="">
                <div>Living Foodz</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="channel-category">
        <div align="center">
            <h6>MOVIES</h6>
            This category contains <span style="font-weight: bold;">15 Movies</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/andpictures.png" alt="">
                <div>&pictures</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/b4u-kadak.png" alt="">
                <div>B4U Kadak</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/utv-action.png" alt="">
                <div>UTV Action</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="channel-category">
        <div align="center">
            <h6>MUSIC</h6>
            This category contains <span style="font-weight: bold;">15 Music</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/9x-jhakaas.png" alt="">
                <div>9X Jhakaas</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/zing.png" alt="">
                <div>Zing</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/mtv.png" alt="">
                <div>MTV</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="channel-category">
        <div align="center">
            <h6>NEWS</h6>
            This category contains <span style="font-weight: bold;">15 News</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/aaj-tak.png" alt="">
                <div>Aaj Tak</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/india-tv.png" alt="">
                <div>India TV</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/ndtv-india.png" alt="">
                <div>NDTV India</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="channel-category">
        <div align="center">
            <h6>OTHER</h6>
            This category contains <span style="font-weight: bold;">15 Other</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/watcho.png" alt="">
                <div>Watcho</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="channel-category">
        <div align="center">
            <h6>SPORTS</h6>
            This category contains <span style="font-weight: bold;">1 Sports</span> channels
        </div>
        <div style="display: inline-block; width: 100%;">
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/star-sports-1-hindi.png" alt="">
                <div>Star Sports 1 Hindi</div>
            </div>
            <div class="channel-box">
                <img class="img-size" src="../../assets/Channels/sony-ten-3.png" alt="">
                <div>Sony Ten</div>
            </div>
        </div>
    </div>
</div>