<div>
    <div class="carousel slide">
        <div class="active">
            <img class="d-block w-100" src="../../assets/dish-tv-home2.png" alt="First slide">
        </div>
    </div>

    <div align="center">
        <div class="second-part">
            <div>
                <h4 class="orange-font">Why DishTV?</h4>
            </div>

            <div style="font-weight: bold; word-spacing: 4px; margin-top: 15px;">
                More than just a connection, DishTV is reshaping how you watch TV. See for yourself why our customers
                love
                us.
            </div>
            <div style="margin-top: 45px; margin-left: 90px;">
                <div class="service-block">
                    <div style="text-align: center; margin-right: 40px;">
                        <img class="img-service m-image" src="../../assets/largest-dth-provider-icon.jpg"
                            alt="Largest DTH Provider">
                            <div>
                        <h6 class="orange-font">Largest DTH Provider</h6>
                        <span>Largest DTH Provier with over <br> 10 crore happy viewers</span>
                    </div>
                    </div>
                </div>
                <div class="service-block">
                    <div style="text-align: center;">
                        <img class="img-service m-image" src="../../assets/24hrs-services-icon.jpg" alt="24x7 Customer Care">
                        <h6 class="orange-font">24x7 Customer Care</h6>
                        <div>Most wide spread service network <br> across India, 24x7 customer care</div>
                    </div>
                </div>
                <div class="service-block">
                    <div style="text-align: center;">
                        <a href="https://www.dishtv.in/"><img class="img-service m-image" src="../../assets/watcho-icon.jpg"
                                alt="Stream Content With Watcho"></a>
                        <h6 class="orange-font">Stream Content With Watcho </h6>
                        <span>Get access to exciting content. Download <br> Watcho. Free for DishTV subscribers.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>

    <div align="center">
        <div>
            <h4 class="orange-font">Dish Recommended Combos</h4>
        </div>
        <div style="font-weight: bold; word-spacing: 4px; margin-top: 15px;">
            Choose from a variety of packs that cater to your specific entertainment needs
        </div>
        <div style="margin-top: 45px; margin-left: 90px; margin-bottom: 15px;">
            <div class="dish-combos-icon">
                <div>
                    <img class="m-image" src="../../assets/swagat-pack-tv-icon.png" alt="Swagat Pack">
                    <h6 class="orange-font">SWAGAT PACK</h6>
                </div>
            </div>
            <div class="dish-combos-icon">
                <div>
                    <img class="m-image" src="../../assets/super-family-tv-icon.png" alt="Super Family">
                    <h6 class="orange-font">SUPER FAMILY</h6>
                </div>
            </div>
            <div class="dish-combos-icon">
                <div>
                    <img class="m-image" src="../../assets/maxi-sports-tv-icon.png" alt="Maxi Sports">
                    <h6 class="orange-font">MAXI SPORTS</h6>
                </div>
            </div>
        </div>
        <button [routerLink]="['/plans-list']" class="btn"><h6>Explore</h6></button>
    </div>
    <hr>

    <footer>Copyright @ 2020. All Rights Reserved.</footer>
</div>