<div>
    <div>
        <img src="https://www.dishtv.in/images/logo.png" alt="Dish TV Logo">
    </div>
    <!-- <div>
        <div class="container">
            <div class="col-sm-4">
                <h5>Grand Total: {{total}}</h5>
            </div>
            <div class="col-sm-4">
                <button (click)="mainScreen()">Back</button>
            </div>
        </div>
    </div> -->

    <div>
        <div class="col-sm-6">
            <div align="left">
                <h5>Grand Total: {{total}}</h5>
            </div>
        </div>
        <div class="col-sm-6">
            <div align="right">
                <button class="btn btn-primary" (click)="mainScreen()">Back</button>
            </div>
        </div>
    </div>

    <div>
        <h3>Plans List : </h3>
        <div class="second-part" *ngFor="let plan of plans">
            <div>
                <h4>{{plan.planName}}</h4>
                <img src="../../assets/dishTV.png" alt="Dish TV Logo">
                <h5>Plan Price : {{plan.planPrice}}</h5>
                <h5>Total Channels : {{plan.channelsCount}}</h5>
                <button class="btn btn-primary mr-1" (click)="planAddButton(plan.planPrice)">Add</button>
            </div>
        </div>
    </div>

    <div>
        <h3>Channels List : </h3>
        <div class="third-part" *ngFor="let channel of channels">
            <div>
                <h4>{{channel.channelName}}</h4>
                <!-- <img src="../../assets/dishTV.png" alt="Dish TV Logo"> -->
                <h5>Channel Price : {{channel.channelPrice}}</h5>
                <button class="btn btn-primary mr-1" (click)="channelAddButton(channel.channelPrice)">Add</button>
            </div>
        </div>
    </div>



    <!-- <div>
        <h3>Plans List :</h3>
        <div class="card" *ngFor="let plan of plans">
            <div class="card-body border">
                <h4 class="card-title">{{plan.planName}}</h4>
                <img class="card-img-top" src="../../assets/dishTV.png" alt="Dish TV Logo">
                <h5>Plan Price : {{plan.planPrice}}</h5>
                <h5>Total Channels : {{plan.channelsCount}}</h5>
                <button class="btn btn-primary mr-1" (click)="planAddButton(plan.planPrice)">Add</button>
                <button class="btn btn-primary mr-1" *ngIf="planAddClick > 0"
                    (click)="planClearButton(plan.planPrice)">Clear</button>
            </div>
        </div>
    </div> -->


    <!-- <div>
        <h3>Plans List:</h3>
        <div class="panel panel-primary col" *ngFor="let plan of plans">
            <div class="panel-heading">
                <h3 class="panel-title">{{plan.planName}}</h3>
            </div>
            <div class="panel-body row">
                <div class="col-xs-10">
                    <div class="col">
                        <div class="col-xs-4">
                            <img src="../../assets/dishTV.png" alt="Dish TV Logo" />
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-6">Plan Price : {{plan.planPrice}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">Total Channels : {{plan.channelsCount}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <button (click)="planAddButton(plan.planPrice)">Add
                                        Plan</button>
                                </div>
                                <div class="col-xs-6"><button *ngIf="planAddClick > 0"
                                        (click)="planClearButton(plan.planPrice)">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="second-part">
        <h5>Plans List:</h5>
        <div class="plan-part">
            <div class="plan-part-child">
                <label for="plans">Select from the following:</label>
                <select [(ngModel)]="selectedPlan" (ngModelChange)='onPlanSelected($event)'>
                    <option value="" selected></option>
                    <option *ngFor="let plan of plans" [ngValue]="plan">{{plan.planName}}</option>
                </select>
            </div>
            <div *ngIf="selectedPlan" class="plan-part-child plan-details">
                <p>Plan Name: {{planData.planName}}</p>
                <p>No. of Channels: {{planData.channelsCount}}</p>
                <p>Plan Price: {{planData.planPrice}}</p>
                <button class="btp1" (click)="planAddButton()" *ngIf="selectedPlan">Add Plan</button>
                <button *ngIf="planAddClick > 0" (click)="planClearButton()">Clear</button>
            </div>
        </div>
    </div>

    <div class="third-part">
        <h5>Extra Channels List:</h5>
        <div class="plan-part">
            <div class="plan-part-child">
                <label for="channels">Select from the following:</label>
                <select [(ngModel)]="selectedChannel" (ngModelChange)='onChannelSelected($event)'>
                    <option value="" selected></option>
                    <option *ngFor="let channel of channels" [ngValue]="channel">{{channel.channelName}}</option>
                </select>
            </div>
            <div *ngIf="selectedChannel" class="plan-part-child">
                <p>Channel Name: {{channelData.channelName}}</p>
                <p>Price: {{channelData.channelPrice}}</p>
                <button class="btp1" (click)="channelAddButton()" *ngIf="selectedChannel">Add Channel</button>
                <button *ngIf="channelAddClick" (click)="channelClearButton()">Clear</button>
            </div>
        </div>
    </div>  -->
</div>