.main-div {
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
    padding: 4px;
}

.first-part {
    margin-bottom: 12px;
    padding: 15px;
    background-color: #f0f0f0;
    background-clip: border-box;
    background-origin: padding-box;
    border-style: ridge;
}

.second-part {
    padding: 10px;
    // margin-top: 25px;
    margin-bottom: 12px;
    background-color: #f0f0f0;
    background-clip: border-box;
    background-origin: padding-box;
    border-style: ridge;
}

.inline-style-plan {
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    width: 200px;
    // height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border-style: groove;
    border: 1px solid #fe5e00;
    border-radius: 20px;
    margin-top: 10px;
}

.inline-style-channel {
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    width: 170px;
    // height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fe5e00;
    border-style: groove;
    border-radius: 20px;
    margin-top: 10px;
}

.plan-part {
    display: flex;
}

.third-part {
    margin-bottom: 12px;
    padding: 10px;
    background-color: #f0f0f0;
    background-clip: border-box;
    background-origin: padding-box;
    border-style: ridge;
}

.mr-1 {
    margin-right: 4px;
    position: relative;
    margin-top: 6px;
}
.round {
    border-radius: 25px;
    outline: none;
    border: none;
}
button1 {
    // top: 50%;
    margin-top: 50px;
    // left: 90%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: red;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

button1:hover {
    background-color: #337414;
    color: white;
}

button1.btp1 {
    margin-left: 70px;
}

.panel-title {
    text-align: center;
}

button {
    color: #fff;
    background-color: #363c3f;
}
button:hover, button:focus, button:active, button.active {
    color: #fff;
    background-color: #fe5e00;
}

.orange-font {
    color: #fe5e00
}